:root {
    --font-family-base: "Nunito Sans", sans-serif;
    --font-family-second: "Open Sans", sans-serif;

    --accent-light: #fbb731;
    --accent-dark: #f37335;
    --light: #ffffff;
    --dark: #443737;
    --light-rgb: 255, 255, 255;
    --line: #dedede;
}

*, 
*::after, 
*::before {
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
    object-fit: contain;
}


body {
    font-family: var(--font-family-base);
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    background-color: var(--light);
    color: var(--dark);
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
}

/* header */

.header {
    border-bottom: 1px solid var(--line);
}

.header-wrapper{
    display: grid;
    grid-template-columns: 174px 1fr 80px;
    align-items: center;
    gap: 198px;
    padding: 26px 0;
}

.logo {
    display: block;
    width: 175px;
    height: 56px;
}

.nav {
    flex-grow: 1;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 47px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-link {
    font-family: var(--font-family-second);
    font-weight: 600;
    font-size: 20px;
    color: var(--dark);
    text-decoration: none;
}

.nav-link::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background-color: transparent;
}

.nav-link:hover::after {
    background-color: var(--accent-light);
}

.cart {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    font-family: var(--font-family-second);
    font-weight: 700;
    color: var(--dark);
    text-decoration: none;
    transition: .2s ease-in;
}

.cart:hover {
    color: var(--accent-dark);
}

.cart::before {
    content: '';
    display: block;
    width: 30px;
    height: 26px;
    background-image: url('../images/icons/cart.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.cart-counter {
    position: absolute;
    bottom: 0;
    left: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 17px;
    background-color: var(--accent-dark);
    font-size: 10px;
    color: var(--light);
    border-radius: 100%;
}

/* hero */

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 478px;
    background-image: url("../images/hero.jpg");
    background-repeat: no-repeat;
    background-size: 100%, cover;
    background-position: center center;
    background-color: #292b2e;
    text-align: center;
    padding: 142px 40px;
    color: rgba(var(--light-rgb), .8);
}

.breadcrumbs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    list-style-type: none;
    padding: 0;
    margin: 0 0 20px;
    color: rgba(var(--light-rgb), .5);
}

.breadcrumbs-item {
    position: relative;
}

.breadcrumbs-item:not(:last-child)::after {
    content: '/';
    position: absolute;
    right: -12px;
}

.breadcrumbs-link {
    text-decoration: none;
    color: rgba(var(--light-rgb), .5);
}

.breadcrumbs-link:hover {
    color: var(--accent-light);
}

.hero-title {
    font-weight: 700;
    font-size: 80px;
    color: var(--light);
    text-transform: capitalize;
    line-height: 1;
    margin: 0 0 24px;
}

.hero-description {
    font-family: var(--font-family-second);
    max-width: 320px;
    margin: 0 auto;
}

/* banner */
.banner {
    min-height: 438px;
    color: rgba(var(--light-rgb), .8);
    padding: 140px 40px 100px;
}

.banner-wrapper {
    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: 100%, cover;
    background-position: center center;
    background-color: #292b2e;
    padding: 100px;
}

.banner-content {
    max-width: 353px;
}

.banner-title {
    font-size: 60px;
    font-weight: 900;
    line-height: 1.2;
    text-transform: uppercase;
    margin: 0 0 10px;
}

.banner-title span {
    max-width: 95px;
    display: block;
    font-family: var(--font-family-second);
    font-weight: 600;
    font-size: 14px;
    background: #f37335;
    border-radius: 14px;
    text-align: center;
    padding: 5px;
}

.banner-desc {
    margin: 0 0 15px;
}

.bunner-btn,
.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 170px;
    max-width: 200px;
    min-height: 58px;

    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 20px 10px;

    font-family: var(--font-family-base);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    color: #443737;
    background-color: #fbb731;
    transition: .2s ease-in;
}

.bunner-btn:hover,
.menu-btn:hover {
    background-color: var(--accent-dark);
}

/* Menu */
main {
    padding:  0 0 140px;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 34px;
}

.menu-title {
    font-weight: 700;
    font-size: 44px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #443737;
    margin: 0;
}

.menu-select {
    width: 279px;
    min-height: 44px;
    font-family: var(--font-family-second);
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: var(--dark);
    background-color: var(--light);
    border: 1px solid var(--line);
    border-radius: 22px;
    padding: 10px 50px 10px 30px;
    appearance: none;
    cursor: pointer;

    background-image: url("../images/icons/arrow-down.svg");
    background-repeat: no-repeat;
    background-position: center right 30px;
    background-size: 13px 9px;
}

.menu-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 20px;

    margin: 0;
    padding: 0;
}

.menu-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    list-style-type: none;
    min-height: 580px;
}

.menu-list li img {
    height: 430px;
    display: block;
    margin: 0 0 20px;
    overflow: hidden;
    object-fit: cover;
}

.menu-list li h3 {
    font-weight: 600;
    font-size: 30px;
    line-height: 1.2;
    margin: 0 0 5px;
}

.menu-list li p {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    color: rgba(68, 55, 55, 0.5);
    margin: 0 0 20px;
}

.menu-btn::before {
    content: "";
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    background: url("../images/icons/cart-dark.svg") center center no-repeat;
}   

.additionally {
    padding: 100px 0 0;
}

.menu-title-additionally {
    margin: 0 0 34px;
}

/* Footer */
.footer {
    background-color: #1e2f40;
    color: rgba(var(--light-rgb), 0.9);
    padding-top: 110px;
    padding-bottom: 106px;
}

.footer-wrapper {
    display: grid;
    grid-template-columns: 66px 1fr;
    align-items: start;
    gap: 134px;
}

.footer-list-menu a{
    transition: .2s ease-in;
}

.footer-list-menu a:hover {
    color: var(--accent-light);
}

.logo-footer {
    display: block;
    width: 63px;
    height: 56px;
}

.footer-list {
    display: flex;
    justify-content: space-between;
    gap: 103px;
    margin: 0;
    padding: 0;
}

.list-item {
    list-style-type: none;
}

.list-item:not(:last-child) {
    margin: 0 0 10px;
}

.list-item a {
    color: rgba(var(--light-rgb), .9);
    text-decoration: none;
}

.subtitle {
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0 0 12px;
}

.list-item h4 {
    margin: 0;
    padding: 0;
}

.address p {
    margin: 0;
    font-weight: 700;
    font-style: normal;
}

.address p:not(:last-child) {
    margin: 0 0 2px;
}

.info-chedule-list {
    list-style-type: none;
    padding: 0;
}

.list-item .phone{
    font-weight: 800;
    font-size: 20px;
    line-height: 1.9;
    text-transform: uppercase;
    color: #fbb731;
    transition: .2s ease-in;
}

.footer-list-menu {
    max-width: 274px;
    margin: 0;
    padding: 0;
}

.footer-list-working {
    max-width: 284px;
    margin: 0;
    padding: 0;
}

.footer-list-phone {
    min-width: 194px;
    padding: 0;
}

.footer-wrapper .phone:hover {
    color: var(--light);
}

/* Контакты */
.contact-main {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 1057px;
    margin: 140px auto 60px;
}

.contact-map {
    flex-basis: 680px;
}

.contact-adress {
    flex-basis: calc(100% - 680px - 20px);
    list-style-type: none;
    padding-left: 0;
}

.contact-adress>li:not(:last-child) {
    margin-bottom: 26px;
}

.contact-adress>li>span {
    display: block;
    font-size: 15px;
    line-height: 160%;
}

.contact-adress>li>span:first-child {
    font-family: var(--nunito-sans);
    font-size: 20px;
    font-weight: 700;
    line-height: 190%;
    text-transform: uppercase;
    margin-left: 3px;
    margin-bottom: 4px;
}

.contact-adress>li>span:last-child {
    font-weight: 700;
    margin-top: 10px;
}

.contact-additionally {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 1057px;
    list-style-type: none;
    padding-left: 0;
    margin: 0 auto;
}

.contact-additionally>li {
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.contact-additionally>li::before {
    content: '';
    display: block;
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-additionally>li:nth-child(1):before {
    background-image: url("../images/icons/time.svg");
}

.contact-additionally>li:nth-child(2):before {
    background-image: url("../images/icons/phone.svg");
}

.contact-additionally>li:nth-child(3):before {
    background-image: url("../images/icons/map.svg");
}

.contact-info,
.contact-tel {
    display: block;
    color: var(--dark);
    font-family: var(--nunito-sans);
    font-size: 20px;
    font-weight: 700;
    line-height: 140%;
    margin-top: 5px;
}

.contact-tel {
    transition: var(--tr);
}

.contact-tel:hover {
    color: var(--accent-light);
}